<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRAN logs</title>
    <meta name="description" content="CRAN R package download counts">
    <meta name="author" content="METACRAN, https://github.com/metacran">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/local.css">
  </head>
  <body>
    {>body}
  </body>
</html>
